@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-green {
        @apply border-4 m-2 w-full hover:bg-green-500 hover:text-white p-2 border-green-500 rounded-full;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #15bd37;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #179303;
}